{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
{% if object %}
Update invoice {{ object }}
{% else %}
Add new invoice
{% endif %}
{% endblock title %}

{% block summary %}
<div class="layout-content">
  <!-- [ content ] Start -->
  <div class="container-fluid flex-grow-1 container-p-y">
    <div class="card mb-4">
      <div class="container-fluid flex-grow-1 container-p-y">
        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-6">
              {% for field in form %}
              <div class="form-group row">
                <label class="col col-form-label" for="{{ field.auto_id }}">
                  {{ field.label }}
                  {% for error in field.errors %}
                  <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
                  {% endfor %}
                </label>
                <div class="col">
                  {{ field|add_class:"form-control" }}
                  {% if field.help_text %}
                  <small>{{ field.help_text|safe }}</small>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="col-sm-6 callout callout-info">
              {{ items.management_form }}
              <div class="text-center">FEE STRUCTURE</div>
              <div class="row">
                <div class="col"><strong>Fee Type</strong></div>
                <div class="col"><strong>Amount</strong></div>
              </div>
              {% for item in items %}
              <div class="form-group row items-group">
                {{ item.id }}
                <div class="col">{{ item.description|add_class:"form-control" }}</div>
                <div class="col">{{ item.amount|add_class:"form-control" }}</div>
                <div class="col-auto align-self-center">
                  {{ item.DELETE|add_class:"btn btn-danger btn-circle" }}
                </div>
              </div>
              {% endfor %}
          
            </div>
          </div>

          {% if object %}
          <h4>RECEIPTS</h4>
          <table class="table table-sm">
            {{ receipts.management_form }}
            <thead class="thead-light">
              <tr>
                <th>Amount Paid</th>
                <th>Date Paid</th>
                <th>Comment</th>
                <th><i class="lnr lnr-trash"></i></th>
              </tr>
            </thead>
            <tbody>
              {% for receipt in receipts %}
              {% for hidden in receipt.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              <tr>
                {% for field in receipt.visible_fields %}
                <td>{{ field|add_class:"form-control form-control-sm" }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}

          <div class="form-group">
            {% if object %}
            <input type="submit" class="btn btn-primary" value="Update Record">
            {% else %}
            <input type="submit" class="btn btn-primary" value="Add new invoice">
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
{% endblock summary %}


{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#id_student').select2();

});

</script>
   {% endblock javascripts %}

{% block morejs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.4.1/jquery.formset.min.js"></script>
<script>
  $(document).ready(function() {
    $(".items-group").formset({
      prefix: '{{ items.prefix }}',
      addText: "<button type='button' class='btn btn-success btn-circle'><i class='fas fa-plus'></i> Add Item</button>",
      deleteText: "<button type='button' class='btn btn-danger btn-circle'><i class='fas fa-trash'></i> Delete</button>",
      addCssClass: "btn btn-success btn-circle add-item",
      deleteCssClass: "btn btn-danger btn-circle delete-item"
    });
  });
</script>
{% endblock morejs %}
