{% extends 'base.html' %}
{% load humanize %}






{% block summary %}

           
                <!-- [ Layout content ] Start -->
                <div class="layout-content">

                    <!-- [ content ] Start -->
                    <div class="container-fluid flex-grow-1 container-p-y">
                        <h4 class="font-weight-bold py-3 mb-0">Invoices</h4>
                        <div class="text-muted small mt-0 mb-3 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href=""><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'invoice-list' %}">Invoices List</a></li>
                                <li class="breadcrumb-item active"></li>
                            </ol>
                        </div>

                    
                        <div class="row">
                            <!-- 3rd row Start -->
                            
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                       <div class="card-header with-elements pb-0">
                                    <div class="card-tools">
                                      <a href="" onclick="myfun('pt')" class="btn btn-primary">Print</a>
                                       
                                    </div>
                                  </div>
                                    <div class="card-header with-elements pb-0">
                                        <h6 class="card-header-title mb-0">Invoices</h6>
                                        <div class="card-header-elements ml-auto p-0 mb-4">
                                            <a class="btn btn-primary" href="{% url 'invoice-create' %}"><i
                                                 class="fas fa-plus"></i> New Invoice</a>
                                            <a class="btn btn-primary" href="{% url 'bulk-invoice' %}"><i
                                                  class="fas fa-upload"></i> Bulk Invoice</a>
                                        </div>
                                    </div>
                                    <div class="card-body">

                                <div class="table-responsive " id="pt">
                                    <table id="invoicetable" class="table table-bordered table-hover">
                                      <thead class="thead-light">
                                        <tr>
                                          <th>S/N</th>
                                          <th>invoice</th>
                                          <th>Session-term</th>
                                          <th>Total Payable</th>
                                          <th>Total Paid</th>
                                          <th>Balance</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        {% for invoice in object_list %}
                                          <tr class='clickable-row' data-href="{% url 'invoice-detail' invoice.id %}">
                                            <td>{{ forloop.counter}}</td>
                                            <td>{{ invoice}}</td>
                                            <td>{{ invoice.session}}-{{ invoice.term}}</td>
                                            <td>{{ invoice.total_amount_payable | intcomma }}</td>
                                            <td>{{ invoice.total_amount_paid | intcomma }}</td>
                                            <td>{{ invoice.balance | intcomma }}</td>
                                            <td><a class="btn btn-success btn-sm"
                                                href="{% url 'receipt-create' %}?invoice={{ invoice.id }}">Add new
                                                receipt</a></td>
                                          </tr>
                                        {% endfor %}

                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- 3rd row Start -->
                        </div>
                    </div>
                    <!-- [ content ] End -->

                  
                </div>
                <!-- [ Layout content ] Start -->
{% endblock summary %}


{% block javascripts %}
<script type="text/javascript">

    function myfun(pa){
    var bk = document.body.innerHTML;
    var dv = document.getElementById(pa).innerHTML;
        document.body.innerHTML = dv;
        window.print();
    }

</script>

{% endblock javascripts %}



{% block morejs %}
<script>
   $('#invoicetable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
